@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
}

body {
  overflow-x: hidden;
}

/* -- GLOBAL VARIABLES ------ */

:root {
  --lemon-green: #9bff03;
  --green-color: #056203;
  --light-color: #fff;
  --dark-color: #000;
}

/* ----- HEADER STYLING------- */

.container {
  max-width: 1200px;
  margin: auto;
}

header {
  width: 100%;
  height: 88px;
  background: var(--light-color);
  position: fixed;
  top: 0;
  z-index: 1;
}

.header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-logo img {
  width: 150px;
}

.site-nav {
  display: flex;
  align-items: center;
  gap: 2em;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin: 10px 20px;
}

nav ul li a {
  font-size: 0.9rem;
  color: var(--green-color);
  font-weight: 700;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  border-radius: 6px;
  background: var(--lemon-green);
  display: block;
  margin: 4px auto;
  transition: 0.3s;
}

nav ul li a:hover::after {
  width: 100%;
}

.btn {
  background: var(--green-color);
  color: var(--light-color);
  width: 150px;
  height: 45px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.btn:hover {
  background: var(--lemon-green);
}

/* -----END OF  HEADER STYLING------- */

/* ------ HERO STYLING----- */
.hero-img {
  width: 100%;
  min-height: 470px;
  background-image: linear-gradient(rgba(109, 214, 18, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/light-green.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-content {
  max-width: 700px;
  text-align: center;
  margin: auto;
}

.content-box {
  display: flex;
  flex-direction: column;
  margin-top: 5em;
}

.content-box a {
  gap: 1em;
}

.hero-content h1 {
  font-size: 2rem;
  color: var(--light-color);
  margin-bottom: 1em;
  letter-spacing: 1px;
}

.hero-content h2 {
  color: var(--lemon-green);
}

.hero-content .btn-1 {
  background: var(--lemon-green);
  margin-top: 1.5em;
  color: var(--green-color);
  margin: 1.5em auto;
}

.hero-content .btn-1:hover {
  background: var(--green-color);
  color: var(--light-color);
  border: 1px solid var(--lemon-green);
}

/* ---- END OF HERO STYLING---- */




/* ----- FOOTER STYLING ------- */
footer {
  padding: 100px 0;
  background: #052604;
  color: var(--light-color);
}




.footer-container{
    width:100%;
    display:grid;
    grid-template-columns:repeat(4,  1fr);
    gap:5em;
}

.footer-details h1{
    color:var(--lemon-green);
    font-size:2rem;
    margin-bottom:0.5em;
}


.footer-details p{
    max-width:600px;
}


.copyright{
    text-align:center;
   
}

















/* -----END FOOTER STYLING ------- */

/* ---RESPONSIVENESS----- */

@media (max-width: 992px) {
  header {
    padding: 0 30px;
  }

  nav ul {
    display: none;
  }

  .footer-container{
    grid-template-columns:repeat(1,  1fr);
    text-align:center;
    
}

.footer-details p{
    max-width:400px;
    margin:2em auto;
}




}
