@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
}

body {
  overflow-x: hidden;
  position: relative;
}

/* -- GLOBAL VARIABLES ------ */

:root {
  --lemon-green: #9bff03;
  --green-color: #056203;
  --light-color: #fff;
  --dark-color: #000;
}

/* ----- HEADER STYLING------- */

.container {
  max-width: 1200px;
  margin: auto;
}

header {
  width: 100%;
  height: 88px;
  background: var(--light-color);
  position: fixed;
  top: 0;
  z-index: 1;
  box-shadow:0px 0px 10px rgba(0, 0, 0, 0.6);
}

.header-row {
 width:100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-row .fa{
    display:none;
}



.site-logo img {
  width: 150px;
}

.site-nav {
  display: flex;
  align-items: center;
  gap:1em;
}

nav ul {
  list-style: none;
  margin-top:0.7em;
}

nav ul li {
  display: inline-block;
  margin: 10px 20px;
}

nav ul li a {
  font-size: 0.9rem;
  color: var(--green-color);
  font-weight: 700;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  border-radius: 6px;
  background: var(--lemon-green);
  display: block;
  margin: 4px auto;
  transition: 0.3s;
}

nav ul li a:hover::after {
  width: 100%;
}

.btn {
  background: var(--green-color);
  color: var(--light-color);
  width: 150px;
  height: 45px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.btn:hover {
  background: var(--lemon-green);
}

/* -----END OF  HEADER STYLING------- */

/* ------ HERO STYLING----- */
.hero-img {
  background-image: linear-gradient(rgba(109, 214, 18, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/light-green.jpg");
  
}

.hero-content {
  max-width: 700px;
  text-align: center;
  margin: auto;
}

.content-box {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}

.content-box a {
  font-weight:900;
  gap: 1em;
}

.hero-content h1 {
  font-size: 2rem;
  color: var(--light-color);
  margin-bottom: 1em;
  letter-spacing: 1px;
}

.hero-content h2 {
  color: var(--lemon-green);
}

.hero-content .btn-1 {
  background: var(--lemon-green);
  margin-top: 1.5em;
  color: var(--green-color);
  margin: 1.5em auto;
}

.hero-content .btn-1:hover {
  background: var(--green-color);
  color: var(--light-color);
  border: 1px solid var(--lemon-green);
}

/* ---- END OF HERO STYLING---- */


/* ---- VISION & MISSION--- */
.company-container{
    width:100%;
    display:grid;
    grid-template-columns:repeat(3,  1fr);
    gap:5em;
}

.company-info {
    text-align:center;
}


.company-info p{
     font-size:0.9rem;
     color:#585858;
}


.company-info h1{
    margin-bottom:1em;
    font-weight:bold;
    color:var(--green-color);
}

/* ----END OF  VISION & MISSION--- */


/* ------ABOUT PAGE STYLING---- */

 .gallery-img, .feedback-img{
  background:#054709;

}

.about-img{
  background-image: linear-gradient(rgba(89, 180, 15, 0.6), rgba(0, 0, 0, 0.6)),
  url("../images/aboutbanner.jpg");
}

.about-container{
  width:100%;
  display:grid;
  grid-template-columns:repeat(2,  1fr);
  gap:3em;
}

.about-info h1{
  margin-bottom:1.2em;
}


.about-info h1::after{
  content:'';
     width:30px;
     height:4px;
     border-radius:5px;
     background:var(--green-color);
     display:block;
     margin:0.3em 0;
}

/* ------END OF ABOUT PAGE STYLING---- */




/* ------PRODUCT PAGE STYLING---- */
.product-img{
  background-image: linear-gradient(rgba(89, 180, 15, 0.6), rgba(0, 0, 0, 0.6)),
  url("../images/warehouse-3.jpg");
  min-height:470px;
}

.intro{
   text-align:center;
   max-width:600px;
   margin: 0 auto 1em;
}

.intro h2{
  font-size:3rem;
  margin-bottom:0.5em;
  color:var(--green-color);
}


.product-container{
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
  gap:4em;
  margin-top:4em;

}


.product-name{
  width:100%;
  max-width:300px;
  height:40px;
  margin-top: 1em;
  background:var(--green-color);
  
}

.product-name h3{
  text-align:center;
  color:var(--light-color);
  padding:0.2em 0;
  font-size:1.5rem;
}


.product-info img{
   width:100%;
   max-width:400px;
   height:50vh;
   border-radius:8px;
   object-fit:cover;
   transition:.3s;
}


.product-info img:hover{
  transform: scale(1.1);
}

/* ------END OF PRODUCT PAGE STYLING---- */


/* ---FEEDBACK STYLING ---- */

.feedback-form {
  margin-top: 50px;
}

.feedback-form h2 {
  font-size:2rem;
  color:var(--green-color);
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline:none;

}

textarea.form-control {
  resize:none; 
  min-height: 100px; 
}

.btn-3 {
  display: inline-block;
  padding: 10px 30px;
  background-color:var(--green-color);
  color:var(--lemon-green);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size:1rem;
  text-transform: uppercase;
  font-weight:700;
}

.btn-3:hover {
  background-color:var(--lemon-green);
  color: var(--green-color);
}

.btn:focus {
  outline: none;
}

.rate-container{
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
  gap:4em;
}

/* ---END OF FEEDBACK STYLING ---- */
















/* -----CONTACT STYLING----- */

.contact-img{
  background-image: linear-gradient(rgba(109, 214, 18, 0.6), rgba(0, 0, 0, 0.6)),
  url("../images/contact-img.jpg");
}


.contact-container{
  width:100%;
  display:grid;
  grid-template-columns:repeat(2,  1fr);
  gap:3em;
}


.contact-info{
  display:flex;
  align-items:center;
}



.contact-box{
   width:300px;
   height:200px;
   text-align:center;
   background:var(--light-color);
   padding:2em;
   margin:0.7em;
   box-shadow:0px 0px 10px rgba(0, 0, 0, 0.3);
}

.contact-box i{
  color:var(--green-color);
  font-size:2em;
  margin-bottom:0.5em;
}

.contact-box h2{
  color:var(--green-color);
  font-size:0.9rem;
  margin-bottom:1em;
}

.contact-box p{
   font-size:0.8rem;
}


.form-wrapper{
  background:var(--green-color);
  border-radius:8px;
  width:450px;
  height:490px;

}

.form-wrapper span{
  display:block;
  margin:1.5em 0;
}

.form-wrapper form{
  padding:3em;
}


.form-wrapper label{
   color:var(--lemon-green);
}



.form-wrapper form input,textarea{
  width:100%;
  padding:0.9em 1em;
  margin:0.8em 0;
  border:none;
  outline:none;
  border-radius:5px;
  resize:none;
}


.btn-2{
  border:1px solid var(--lemon-green)
}

.contact-map iframe{
   width:100%;
}


/* -----END OF CONTACT STYLING----- */



/* ----- FOOTER STYLING ------- */
footer {
  padding: 100px 0;
  background: #052604;
  color: var(--light-color);
}



.footer-details:nth-child(2){
    margin-left:4em;
}

.footer-container{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap:2em;
}

.footer-details h1{
    color:var(--lemon-green);
    font-size:1.2rem;
    margin-bottom:0.5em;
}

.footer-details h4{
    margin-top:0.5em;
    color: var(--lemon-green);
}


.copyright{
    text-align:center;
    margin-top:4em;
}


.footer-details ul{
    list-style:none;
}

.footer-details ul li{
    margin:1em 0;
}

.footer-details ul li a{
    color:var(--light-color);
    font-size:0.9rem;
}

.social-media{
   margin-top:1rem;
}


.social-media i{
    color:var(--green-color);
    margin:1em 0.8rem;
    width:40px;
    height:40px;
    font-size:20px;
    text-align:center;
    padding:10px;
    border-radius: 50%;
    background-color:var(--light-color);
    transition:.3s;
}

.social-media i:hover{
    background:var(--green-color);
    color:var(--lemon-green);
}


::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #078d10; 
}

::-webkit-scrollbar-thumb {
    background: #054709; 
}


/* -----END FOOTER STYLING ------- */









/* ---RESPONSIVENESS----- */

@media (max-width:992px) {
  header {
    padding: 0 30px;
  }



  .site-btn{
      display:none;
  }

  nav ul {
    display: block;
    margin-top:4em;
  }


  .header-row .fa{
    font-size:30px;
    display:block;
    position: absolute;
    right: 5%;
    top:15%;
    cursor: pointer;
    padding: 15px 12px;
    color: #000;
}


.header-row .fa-close {
    color: #fff;
    font-size: 25px;
    position:absolute;
    top:0;
    left:3px;
  }

  nav {
    background:var(--green-color);
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    position: fixed;
    text-align: left;
    z-index:1;
    transition: 0.5s;
    color: #fff;
    overflow: hidden;
  }

  nav ul li {
    display: block;
    padding:0.7em 0;
  }


  nav ul li a {
    color: #fff;
  }


  nav ul li a:after{
   display:none;
    
}



  nav ul li a:hover{
      color:var(--lemon-green);
  }

  .site-logo img{
      width:100px;
  }


.header-row{
    margin-top:1em;
}


.content-box h1{
    font-size:1.5rem;
    max-width:500px;
    margin:1em auto;
    padding:0 1em;
}

.content-box h2{
    font-size:1.2rem;
}




  .hero-img{
    width: 100%;
    height:50vh;
    object-fit:cover;
  }


  .company-container{
    grid-template-columns:repeat(1,  1fr);
  
}

.company-info p{
    max-width:330px;
    margin:2em auto;
}





.about-container{
  grid-template-columns:repeat(1,  1fr);
  text-align:center;
  
}


.about-info{
   padding:0 2em;
}



.about-info h1::after{
     margin:auto;
}





.title h1{

  font-size:1.5rem;
}


.intro h2{
  font-size:1.5rem;
}

.intro p{
  font-size:0.9rem;
  max-width:300px;
  margin:auto;
}

.product-info{
    width:70%;
    margin:0 auto;
}


.feedback-form {
  width:100%;
  padding:0 1.5em;
}

.form-control{
  width:78%;
}

.contact-info{
  flex-direction:column;
}

.contact-container{
  grid-template-columns:repeat(1,  1fr);

  
}

.form-wrapper{
  width:98%;
}




.footer-details:nth-child(2){
    margin-left:0em;
}



  .footer-container{
    grid-template-columns:repeat(1,  1fr);
    text-align:center;
    
}

.footer-details p{
    max-width:300px;
    margin:2em auto;
}


.contact-map iframe {
  width: 100%;
  height: 300px;
  margin:auto;
}

.copyright{
  max-width:300px;
  margin:1.5em auto;
}

}
